.expo-col-card {
  flex: 1 1 20%;
  max-width: 20%;
  box-sizing: border-box;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.exp-imgbx {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  width: 60%;
}
.exp-imgbx img {
  border-radius: 10px;
  margin-bottom: 15px;
}
.expo-col-card h4 {
  font-size: 10px;
  font-weight: 700;
  /* letter-spacing: 0.2px; */
  line-height: 1.1em;
  color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.expo-col-card span {
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.3px;
  color: white;
}

/* Animations */
.exp-imgbx {
  position: relative;
  overflow: hidden;
}

.exp-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #897870 -5.91%, #468d4f 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: top left;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.exp-imgbx:hover::before {
  width: 140%;
  height: 100%;
}
