.banner {
    margin-top: 0;
    padding: 390px 0 200px 0;
    background-image: url('../../assets/img/banner_home.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    font-size: 16px;
    margin-bottom: 16px;
    display: inline-block;
    color: #d7e7d8;
  }
  .banner .tagline-text {
    font-weight: 800;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    font-size: 16px;
    margin-bottom: 16px;
    display: inline-block;
    color: #d7e7d8;
  }
  .banner h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: #d3dbd3;
    padding-top: 5px;
    text-shadow:  0 0 10px #414b3b,
                  0 0 20px #414b3b,
                  0 0 40px #414b3b,
                  0 0 80px #414b3b,
                  0 0 120px #414b3b;
  }
  .banner p {
    color: #d7e7d8;
    font-size: 12px;
    letter-spacing: 0.9px;
    line-height: 1.5em;
    width: 100%;
    text-align: justify;
    text-indent: 20px;
    padding-top: 30px;
  }
  .container-text {
    display: flex;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: baseline
  }
  .banner img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }