.experience {
  padding: 0 0 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  position: relative;
  background-color: black;
}
.experience .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.experience h2 {
  font-size: 35px;
  font-weight: 1200;
  color: #897870;
  padding: 0 0 30px 0;
}
.experience p {
  color: #B8B8B8;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 0 0 0 0;
  padding: 30px 30px 0 30px;
  text-align: justify;
  text-indent: 20px;
  width: 85%;
}
.experience .nav.nav-pills {
  display: flex;
  width: 50%;
  margin: 0 auto;
  overflow: visible;
  overflow: hidden;
}
.experience .nav.nav-pills .nav-item {
  width: 33.33333%;
  box-sizing: border-box;
  margin: 0 10px;
  flex: 1;
}
.experience .nav.nav-pills .nav-link {
  background-color: transparent;
  padding: 15px 0 15px 0;
  color: #ffff;
  font-size: 11px;
  letter-spacing: 0.8px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  text-align: center;
  border: none;
  border-bottom: 2px solid transparent;
}
.experience .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.experience .nav.nav-pills .nav-link.active {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
}
.experience .nav.nav-pills .nav-link::before {
  content: none !important;
}
.exp-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 65px 0 15px 0;
  position: relative;
  background-color: black;
}