.skill {
  padding: 0 0 40px 0;
  position: relative;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 40px 30px;
  margin-top: -60px;
  box-shadow: 0 0 3px #002425,
              0 0 6px #002425,
              0 0 9px #002425,
              0 0 12px #002425,
              0 0 15px #002425;
}
.react-multiple-carousel__arrow {
  width: 20px;
  height: 20px;
  background-color: #468d4f;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.react-multiple-carousel__arrow--left {
  margin: 0 -30px;
}
.react-multiple-carousel__arrow--right {
  margin: 0 -30px;
}
.skill h2 {
  font-size: 35px;
  font-weight: 700;
  color: #897870;
}
.skill p {
    color: #B8B8B8;
    font-size: 12px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill h5 {
  font-size: 16px;
  color: #468d4f;
}
.skill-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 40%;
  margin: 0 auto 15px auto;
}
.skillsBg {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}